# INTERCEPTOR — Variables de ambiente
SPECTRE_EMAIL_TO=tu_correo@gmail.com
SPECTRE_EMAIL_FROM=tu_sender@gmail.com
SPECTRE_SMTP_SERVER=smtp.gmail.com
SPECTRE_SMTP_PORT=587
SPECTRE_SMTP_USER=tu_sender@gmail.com
SPECTRE_SMTP_PASS=tu_app_password_aqui
SPECTRE_LOG_FILE=/home/pi/code/interceptor/interceptor.log
INTERCEPTOR_LOG_FILE=/home/pi/code/interceptor/interceptor.log
